*.pyc
__pycache__/
db.sqlite3
*.pyo
*.pyd
.vscode/
.env
.venv/
*.sqlite3
*.log
token
/media/
/static/ 
terraform/.terraform/
terraform/terraform.tfvars
terraform/.terraform.lock.hcl
terraform/tfplan
*.tfstate
*.tfstate.backup
*.tfstate.lock.info
*.png