[flake8]
max-line-length = 88
exclude =
    */migrations/*,
    get-pip.py,
    .venv,
    __pycache__
per-file-ignores =
    # Ignore unused imports in __init__ files and test boilerplate
    */tests.py:F401
    */admin.py:F401
    */models.py:F401
    */views.py:F401